.header{
    width: 100%;
    background: orange;
    height: 100px;

}

.left{
    width: 20%;
    float: left;
    height: 400px;
    background: rgb(237, 176, 61);
}

.right{
    width: 80%;
    float: left;
    height: 400px;
    background: rgb(227, 198, 145);

}

.footer{
    height: 150px;
    width: 100%;
    background: rgb(213, 192, 153);
}

.content{
    height: 400px;
}

body{
    margin: 0px;
}